.posts {
  padding: 0 10%;
}

.posts .li {
  display: block;
  padding: 5%;
  margin: 5%;
  transition: all 0.3s ease;
}

.post .a {
  color: #333;
}

.posts .li:hover {
  background: #ffe6f2;
  border-radius: 10px;
}
