---
layout: default
permalink: /updates/
---

<ul class='posts'>
  {% for post in site.posts %}
  <li>
    <a href='{{ site.baseurl }}{{ post.url }}'>
	{% if page.microblog == false %}
		<h3>{{ post.title }}</h3>
		<time>{{ post.date | date: '%d %B %Y'}}</time>
		<p>{{ post.content | strip_html | truncatewords: 30 }}</p>
	{% else %}
		<time>{{ post.date | date: '%d %B %Y'}}</time>
		<p>{{ post.content | strip_html | truncatewords: 30 }}</p>
	{% endif %}
    <!-- </a> -->
	<a href="{{ site.baseurl }}/{{ post.url | remove_first: '/' | remove: '.html' }}" class="u-url"><aside class="dates"><time datetime="{{ post.date }}" class="dt-published"><span class="arrow">→</span> {{ post.date | date:"%I:%M %p, %b %d" }}</time></aside></a>
  </li>
  {% endfor %}
</ul>