---
permalink: "/updates/"
layout: default
---

<ul class='posts'>
  {% for post in site.posts %}
  <li>
    <a href='{{ site.baseurl }}{{ post.url }}'>
	{% if page.microblog == false %}
		<h3>{{ post.title }}</h3>
		<time>{{ post.date | date: '%d %B %Y'}}</time>
		<div class="contents">
			<p>{{ post.content | truncatewords: 30 }}</p>
		</div>
	{% else %}
		<time>{{ post.date | date: '%d %B %Y'}}</time>
		<div class="contents">
			<p>{{ post.content | truncatewords: 30 }}</p>
		</div>
	{% endif %}
    </a>
  </li>
  {% endfor %}
</ul>