---
layout: default
---

<article itemscope itemtype='http://schema.org/BlogPosting'>
	<header>
	  <time itemprop='datePublished' content='{{ page.date }}'>
	    {{ page.date | date: '%d %B'}}
	  </time>
	  {% if page.microblog == nil %}
	  <div>By: <span itemprop='author'>{{ page.author }}</span></div>
	  {% else %}
	  <div><span itemprop='author'>{{ page.author }}</span></div>
	  {% endif %}
	</header>
	<section itemprop='articleBody'>
  	{{ content }}
  </section>
  <section id="sharing">
        {% include share.html %}
    </section>
	<!-- Disqus comments -->
	{% if site.disqus %}
		<div class="archive readmore">
			<h3>Comments</h3>
			{% include disqus.html %}
		</div>
	{% endif %}

	<!-- Commento comments -->
	{% if site.commento %}
		<div class="archive readmore">
			<h3>Comments</h3>
			{% include commento.html %}
		</div>
	{% endif %}
</article>